html, body {
		height: 100%;
		margin: 0;
	}
		
#map {
		width: 100%;
		height: 100%;
	}
		
.info { 
    padding:8px 11px; 
    font: 12px/18px; 
    background-color: slategrey;
    box-shadow: 0 0 15px rgba(0,0,0,0.2); 
    border-radius: 5px; 
} 

.info h4 {
	margin: 0 0 5px;
    font:14px;
 	color:#fff; 
}

.info h5 {
    margin: 0 0 5px;
    color: #fff; 
}


.legend { 
    text-align: left;
    line-height: 17px; 
    color: #fff;
    background-color: slategrey;
}

.legend i { 
    width: 10px;
    height: 13px; 
    float: left; 
    margin-right: 8px; 
    opacity: 0.7; 
    background-color: slategrey;
}

.header-basic-light{
	padding: 10px 10px;
	box-sizing:border-box;
	box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.15);
	height: 7%;
    text-align: center;
	background-color: slategrey;
}

.leaflet-top, .leaflet-right{
	margin: 10px;
    font-size: 13px;
    text-align: left;  /*was center*/
}

.header-basic .header-limiter {
	max-width: 1200px;
	text-align: center;
	margin: 0 auto;
}


.mynavbar {
    width:100%;
    position: absolute;
    background: rgba(17,25,30,.81);
    border-bottom: 1px solid rgba(17,25,30,0);
    height:45px;
    box-shadow: 0 1px 4px rgba(0,0,0,.08);
    z-index: 1010;
    background-color: darkorange;
    
}

.rubin-template {
    text-align: center;
    position: absolute;
    color:#fff;
    width:100%;
    z-index: 1;
    font-family: 'Georgia', sans-serif;
    margin:10px 0;
    
}

.myheadsubtitle {
    display: inline-block;
    color: #fff;
    font-weight:200;
    padding-left:8px;
}

.othercities {
    text-align: left;
    position: absolute;
    width:100%;
    z-index: 1;
    font-family: 'Georgia', sans-serif;
    margin:15px 0px;
    padding-left: 20px;
    color: #fff;

}

a, svg, #modalButton {
	color: #f8bf22;
  }
  
a:hover, #x {
	color: #000000;
 }
 
 /*panel added styles*/
 .ga2020title, .ga2020intro {
    font-family: 'Poppins', sans-serif;
   
 }
.ga2020title{
    font-size:  40px;  
}
 .nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover{
     background-color: crimson;
     font-size: 16px;
 }
